*ignore.ipynb
*.pyc
*.egg-info
*.pdf
*.ipynb
.pytest_cache
.venv
.coverage
coverage.xml
otbench/cache/processed/*.pickle
otbench/data/paranal_tomography_v2/raw*/*
doc/
!notebooks/overview.ipynb
!notebooks/forecasting/*.ipynb
!notebooks/regression/*.ipynb
!notebooks/pytorch/*.ipynb
!notebooks/tomography_analysis.ipynb
