*ignore.ipynb
*.pyc
*.egg-info
*.pdf
*.ipynb
.pytest_cache
.venv
.coverage
coverage.xml
otbench/cache/processed/*.pickle
doc/
!notebooks/overview.ipynb
!notebooks/forecasting/*.ipynb
!notebooks/regression/*.ipynb
!notebooks/pytorch/*.ipynb
